@import "tailwindcss";

* {
  user-select: none;
}

.sponsor {
  border: 1px solid transparent;
  border-image: linear-gradient(to bottom, transparent, #d9d9d925) 1;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadein {
  animation: fadein 3s ease forwards;
}
